 body {

 	background-color: #011e30;
	font-family: Verdana;
	margin: 0px;
}

canvas {
  border: 2px solid #c3c3c3;
  height: 200px;
  margin: 10px;
}

input {
  font-size: 12pt;
}

header {
	background-image: url(img/1.jpg);
	color: #f0f0f0;
	padding: 15px;
	text-align: center;
}

h2 {

	color: #f0f0f0;
	text-align: center;
}

footer {
	margin: 40px;
	color: #b5b5b5;
	font-style: italic;
}

.list {
	
	text-align: center;
	margin: 30px;
	padding: 10px;
}

a {
	text-decoration: none;
}

input {
	background-image: url(img/1.jpg);
	color: #f0f0f0;
	padding: 6px;
	border-radius: 100px;
	border-width: 2px;
	font-size: 14pt;
	width: 55%;
	margin: 3px;
}

.alongside {
	width: 32%;
}

p{
	color: #4d7284;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}