 body {

 	background-color: white;
	font-family: Verdana;
	margin: 0px;
}

canvas {
  border: 2px solid #c3c3c3;
  height: 200px;
}

input {
  font-size: 12pt;
}

.top {
	background-image: url(img/1.jpg);
	color: white;
	padding: 15px;
	text-align: center;
}

h2 {
	text-shadow: 3px 2px cyan;
	color: #a1a1a1;
	text-align: center;
}

footer {
	margin: 40px;
	color: #b5b5b5;
	font-style: italic;
}

.right {
	text-align: right;
}

.list {
	
	text-align: center;
	margin: 40px;
}

a {
	text-decoration: none;
}

input {
	background-image: url(img/1.jpg);
	color: #f0f0f0;
	padding: 5px;
	width: 1100px;
	border-radius: 100px;
	border-width: 2px;

}

p{
	
}